<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            {% for slide in home.slides %}
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Powerful Theme">
                <img src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt="{{ slide.alt }}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </li>
        {% endfor %}
        </ul>
    </div>
</div><!--full width banner-->