<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Depann'PC 74</h3>
                    <p>
                        Entreprise annécienne de dépannage informatique depuis plus de 20 ans. Nous vous proposons un service personnalisé et rapide en fonction de vos besoins. Nous sommes spécialisé dans les dépannage express, en magasin comme à domicil et même à distance. 
                        Nous vendons tout type de matériel informatique, neuf et occasions, tous garantie. Pour vos besoins informatique sur Annecy, pensez Depann'PC!
                    </p>
                </div>                        
            </div><!--footer col-->
            <div class="col-md-4 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-map-marker"></i> Adresse:</strong>20 avenue de Novel, 74000 Annecy </p></li> 
                        <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="#">dpc74@mail.com</a></p></li>
                        <li> <p><strong><i class="fa fa-phone"></i> Tel:</strong> 04 50 46 77 08</p></li>
                        <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 04 50 46 77 09</p></li>
                    </ul>
                </div>                        
            </div><!--footer col-->
            <div class="col-md-4 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Produits du moment</h3>
                    <ul class="list-inline f2-work">
                    <!-- 
                        <li><a href="portfolio-single.html"><img src="assets/img/img-1.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-2.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-3.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-4.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-5.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-6.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-7.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-8.jpg" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="assets/img/img-9.jpg" class="img-responsive" alt=""></a></li> 
                    -->
                    </ul>
                </div>                        
            </div><!--footer col-->
        </div>
    </div>
</footer><!--default footer end here-->