{% extends "DPCHomeBundle::layout.html.twig" %}

{% block dpc_home_body %}
    <!--breadcrumb start-->
    <div class="breadcrumb-wrapper" >
        <div class="container">
            <h1>Site en construction</h1>
        </div>
    </div> <!--end breadcrumb-->

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                Le site est en cours de consctruction. Revenez nous voir, il sera bientôt prêt!
            </div> <!-- div.col-lg-6 col-lg-offset-3 -->
        </div> <!-- div.row -->
    </div> <!-- div.container -->


{% endblock %}