<li class="hoe-has-menu active" id="image_menu" >
    <a href="javascript:void(0)">
        <i class="fa fa-question"></i>
        <span class="menu-text">FAQs</span>
        <span class="selected"></span>
    </a>
    <ul class="hoe-sub-menu">
        <li>
            <a href="{{ path('dpc_admin_faq_themes') }}">
                <span class="menu-text">Thèmes</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_faq_theme') }}">
                <span class="menu-text">Ajouter Thème</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_faqs') }}">
                <span class="menu-text">FAQs</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_faq') }}">
                <span class="menu-text">Ajouter FAQ</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>