<li class="hoe-has-menu active" id="brand_menu" >
    <a href="javascript:void(0)">
        <i class="fa fa-picture-o"></i>
        <span class="menu-text">Images</span>
        <span class="selected"></span>
    </a>
    <ul class="hoe-sub-menu">
        <li>
            <a href="{{ path('dpc_admin_images') }}">
                <span class="menu-text">Liste</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_image') }}">
                <span class="menu-text">Ajouter</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>