<li class="hoe-has-menu active" id="image_menu" >
    <a href="javascript:void(0)">
        <i class="fa fa-life-ring"></i>
        <span class="menu-text">Service</span>
        <span class="selected"></span>
    </a>
    <ul class="hoe-sub-menu">
        <li>
            <a href="{{ path('dpc_admin_service_categories') }}">
                <span class="menu-text">Catégories</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_service_category') }}">
                <span class="menu-text">Ajouter Catégorie</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_services') }}">
                <span class="menu-text">Services</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_service') }}">
                <span class="menu-text">Ajouter Service</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>