
{% extends "dpc_base_layout.html.twig" %}

{% block title %}
  Produits - {{ parent() }}
{% endblock %}

{% block bundle_body %}
<div class="row">
	<h2>Produits</h2>
</div> <!-- div.row -->
  


  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  	{% block dpcstore_body %}
	{% endblock %}

{% endblock %}