<li class="hoe-has-menu" id="brand_menu" >
    <a href="javascript:void(0)">
        <i class="fa fa-flag"></i>
        <span class="menu-text">Marques</span>
        <span class="selected"></span>
    </a>
    <ul class="hoe-sub-menu">
        <li>
            <a href="{{ path('dpc_admin_brands') }}">
                <span class="menu-text">Liste</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_brand') }}">
                <span class="menu-text">Ajouter</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>