<li class="hoe-has-menu" id="product_menu">
    <a href="javascript:void(0)">
        <i class="fa fa-shopping-bag"></i>
        <span class="menu-text">Produits</span>
        <span class="selected"></span>
    </a>
    <ul class="hoe-sub-menu">
        <li>
            <a href="{{ path('dpc_admin_product_occasions') }}">
                <span class="menu-text">Occasions</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_product_promotions') }}">
                <span class="menu-text">Promotions</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_product_promotions') }}">
                <span class="menu-text">En ligne</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('dpc_admin_add_product') }}">
                <span class="menu-text">Ajouter</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>