{% extends "DPCStoreBundle::layout.html.twig" %}

{% block dpcstore_body %}
  <!--breadcrumb start-->
  <div class="breadcrumb-wrapper" >
    <div class="container">
      <h1>Bienvenue chez DPC-74</h1>
    </div>
  </div>
  <!--end breadcrumb-->

  <div class="container">
    {{ include('dpc_home_slider.html.twig') }}
    <div class="divide60"></div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="center-heading">
          <h2>Qui Sommes Nous ?</h2>
          <span class="center-line"></span>
          <p class="sub-text margin40">
            Nous sommes une entreprise annécienne de vente de produits et services informatique. Avec plus de 20 ans d'expérience, nous accompagnons nos clients particulier et professionels sur l'ensembles de leurs besoins.</p>
          </div>
        </div>

      </div><!--center heading end-->
    </div>
     <div class="blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 margin30">
                        <div class="services-box wow animated fadeInDown">
                            <div class="services-box-icon">
                                <i class="fa fa-shopping-bag"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Plus de 200 produit en magasin</h4>
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</div>
                        </div><!--service box-->
                    </div>
                    <div class="col-sm-6 ">
                        <div class="services-box wow animated fadeInUp">
                            <div class="services-box-icon">
                                <i class="fa fa-wrench"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Tout type de réparation informatique</h4>
                                <p>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor. </div>
                        </div><!--service box-->
                    </div>
                </div>
            </div>
        </div><!--full wide 2 columns content end-->

        <div class="divide70"></div>
        <div class="assan-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading">
                            <h2>Disponible sur notre site</h2>
                            <span class="center-line"></span>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
                            <div class="services-box-icon">
                                <i class="fa fa-shopping-bag"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Nos produits phares</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
                            <div class="services-box-icon">
                                <i class="fa fa-life-ring"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Nos services</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
                            <div class="services-box-icon">
                                <i class="fa fa-envelope"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Nous contacter</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->

                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
                            <div class="services-box-icon">
                                <i class="fa fa-question"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Des réponses à vos questions</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
                            <div class="services-box-icon">
                                <i class="fa fa-cogs"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Nos configs PC</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="600ms">
                            <div class="services-box-icon">
                                <i class="fa fa-cart-arrow-down fa-3x"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Nos promos du moment</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.

                                </p>

                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                </div><!--services row-->
            </div>
        </div><!--assan features-->
        <div class="divide40"></div>

        <div class="our-team-v-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading">
                            <h2>L'équipe DPC</h2>
                            <span class="center-line"></span>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-offset-3 text-center">
                        <div class="person-v2">
                            <img src="{{ asset('assets/base/img/team-7.jpg') }}" class="img-responsive" alt="">
                            <div class="person-desc-v2">
                                <h3>Jean-Pierre</h3>
                                <em>Gérant / Technicien informatique</em>
                            </div>
                        </div>
                    </div><!--person col end-->
                    <div class="col-sm-3 text-center">
                        <div class="person-v2">
                            <img src="{{ asset('assets/base/img/team-8.jpg') }}" class="img-responsive" alt="">
                            <div class="person-desc-v2">
                                <h3>Grégory</h3>
                                <em>Technicien informatique</em>
                            </div>
                        </div>
                    </div><!--person col end-->
                </div>
            </div>
        </div><!--our team v-2-->

    <div class="space-60"></div>


  {% endblock %}