{% extends "DPCStoreBundle::layout.html.twig" %}

{% block title %}
  Image - {{ parent() }}
{% endblock %}

{% block dpcstore_body %}
<div class="row"></div> <!-- div.row -->
  <h3>Image</h3>

  <h4>
    {{ image.title }}
  </h4>
  <img src="{{ vich_uploader_asset(image, 'imageFile') }}" />

</div>

{% endblock %}