{% extends "DPCStoreBundle::layout.html.twig" %}

{% block title %}
  Promotions - {{ parent() }}
{% endblock %}

{% block dpcstore_body %}
<div class="row"></div> <!-- div.row -->
  <h3>Produit</h3>

  <p>
      <h4>{{ product.title }}</h4>
        
        le {{ product.date|date('d/m/Y') }}
        <p>
          {{ product.description }}
        </p>
  </p>
</div>

{% endblock %}