{% extends "DPCStoreBundle::layout.html.twig" %}

{% block dpcstore_body %}
<div class="row">
  <h3>Les promos</h3>

  <ul>
    {% for promo in listPromos %}
      <li>
        <a href="{{ path('dpc_store_promo', {'id': promo.id}) }}">
          {{ promo.title }}
        </a>
        le {{ promo.date|date('d/m/Y') }}
        <p>
          {{ promo.description }}
        </p>
      </li>
    {% else %}
      <li>Pas (encore !) de promos</li>
    {% endfor %}
  </ul>

</div> <!-- div.row -->
  

{% endblock %}