{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}

	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">{{ title|upper }}</h2>
				</header>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Titre</th>
							</tr>
						</thead>
						<tbody>
							{% if listThemes is not empty %}
								{% for theme in listThemes %}
									<tr>
										<th scope="row">
											<a href="{{ path('dpc_admin_edit_faq_theme', {'id': theme.id}) }}">
												{{ theme.id }}
											</a>
										</th>
										<td>{{ theme.title }}</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div><!--col end-->
	</div><!--row end-->
{% endblock %}

